body{
    background-color: rgb(35, 16, 87);
    color: whitesmoke;

}
h1{
    font-size: 40px;
    color: rgb(245, 171, 11);
    padding-left: 50px;
    margin-left: 0px;
}

dl{
    font-size: 20px;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc
}
dl dt{
    float: left;
    padding: 1em;
}

dl dd{
    border-bottom: 1px solid #cccccc;
    margin: 0;
    padding: 1em 0 1em 18em;
}

input[type="text"]{
    width: 50%;
}
.how_long{
    margin: 1em;
}

#outline{
    font-size: 1em;
}
textarea{
    font-size: 1em;
}
input{
    font-size: 1em;
    padding: 5px;
}

.button{
    text-align: center;
}
.button input{
    font-size: 1.5em;
}
.back{
    text-align: right;
}
.back a{
    font-size: 2em;
    color: rgb(245, 171, 11);
    margin-right: 1.5em;
}