body{
    background-color: rgb(35, 16, 87);
    color: whitesmoke;

}
h1{
    font-size: 40px;
    color: rgb(245, 171, 11);
    padding-left: 50px;
    margin-left: 0px;
}

dl{
    font-size: 20px;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc
}
dl dt{
    float: left;
    padding: 1em;
}

dl dd{
    border-bottom: 1px solid #cccccc;
    margin: 0;
    padding: 1em 0 1em 18em;
}

dd #places{
    text-align: 1em;
    height: 1.5em;
    width: 4em;
    font-size: 1em;
    margin-right: 1em;
}

input[type="text"]{
    width: 50%;
}

input{
    font-size: 1em;
    padding: 5px;
}

textarea{
    font-size: 1em;
    min-width: 50%;
    height: 1em;
}
.submit{
    margin-left: 45%;
    font-size: 2em;
}
.back{
    font-size: 2em;
    text-align: right;
}
.back a{
    color: whitesmoke;

}