img{
    width: 100%;
    margin: 5px;
}
.help{
    width: 48%;
}

.my_info{
    width: 48%;
}

.senior{
    width: 48%;
}

.match{
    width: 48%;
}

.container{
    margin-top: 0%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}