<!DOCTYPE html>

<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>correliv</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
	<div class="container">
		<div class="help">
			<a href="{{ help_url }}"><img src="../static/picture/help.png"></a>
		</div>
		<div class="my_info">
			<a href="{{ profile_url }}"><img src="../static/picture/myinfo.png"></a>
		</div>
		<div class="match">
			<a href="{{ matching_url }}"><img src="../static/picture/matching.png"></a>
		</div>
		<div class="senior">
			<a href=""><img src="../static/picture/QandA.png"></a>
		</div>
	</div>
</body>

</html>